[alias]
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    br = branch
    ca = commit --amend
    ci = commit --verbose
    co = checkout
    cp = cherry-pick
    di = diff
    dt = difftool
    lol = log --graph --branches --remotes --pretty=oneline --abbrev-commit
    lsh = log --graph --branches --remotes --pretty=short --abbrev-commit
    mg = merge
    mt = mergetool
    rb = rebase
    rh = reset --hard
    sh = show
    st = status
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global
    fscache = true
    preloadindex = true
[color]
    ui = true
[user]
    name = Linus Ahlenius
    email = Linus.Ahlenius@gmail.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
